<div class="conversation-single">
  <div class="conversation-message">
    <%= render partial: 'tincanz/admin/messages/message', object: @first_message %>
    
  </div>

  <div class="conversation-replies">
    <div class="replies-list">
      <%= render partial: 'tincanz/admin/messages/message', collection: @subsequent_messages %>
    </div>
  </div>
<div>
