<%= content_tag_for :tr, user do %>
  <td><%= check_box_tag 'recipient_ids[]', user.id %></td>
  <td class="email"><%= link_to user.tincanz_email, admin_user_path(user) %></td>
  <td class="message"><%= link_to 'message', new_admin_message_path(recipient_ids: [user.id]) %></td>
<% end %>

