<h1>Conversations</h1>

<table class="conversations-list table table-condensed table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @conversations.each do |conversation| %>
      <%= content_tag_for :tr, conversation do %>
        <td class="conversation-message"><%= conversation.messages.involving(tincanz_user).most_recent.content%></td>
        <td><%= link_to 'Read more', conversation_path(conversation) %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
