<div class="conversation-message">

  <%= render partial: 'tincanz/messages/message', object: @first_message %>
  
</div>

<div class="conversation-replies">
  <h3>Replies</h3>
  <div class="replies-list">
    <%= render partial: 'tincanz/messages/message', collection: @subsequent_messages %>
  </div>
</div>

