<h1>New Message</h1>

<%= form_for [@conversation, @message] do |f| %>

  <%= f.hidden_field :reply_to_id, value: @message.reply_to_id %>

  <div class="form-group">
    <label for='message_content'>Content</label>
    <%= f.text_area :content, rows: 5 %>
  </div>
            
  <%= f.submit 'Send' %>

<% end %>